body { text-align: center; background: url('../images/pinstripe.png'); color: #333; font-family: "myriad-pro",sans-serif; margin: 0; width: 480px; }

#wrapper { text-align: left; margin: 0 auto; width: 480px; }
#header { background: url('../images/yellow-gradient.gif'); height: 50px; }
	#header img.back { margin: 5px 0 0 10px; }

ul#results { list-style: none; padding: 0; margin: 0; }
	ul#results li {  background: url('../images/white-gradient.gif') repeat-x 0 100%; padding: 5px 10px; }
	ul#results h3 { margin-bottom: 3px; }
	ul#results a h3 { color: #dfaa3d; text-decoration: none; }
	ul#results a { background: url('../images/arrow.png') no-repeat 100% 50%; display: block; text-decoration: none; padding-right: 20px; }
	ul#results a p { margin-top: 0; font-size: 15px; color: #666; }

#details { padding: 2px 10px; min-height: 400px; }	
	#details h3 { border-bottom: 1px solid #000; margin-top: 5px; }

#search { text-align: center; }	
	#search h3 { }
	#search #locations { text-align: center; padding-left: 90px; }
	#search .location { float: left; width: 40px; border: 1px solid #EEE; border-radius: 4px; background: #FFF; padding: 10px; margin-right: 3px; }
	#search .location label { text-transform: capitalize; }
	
	#search #ingredients { text-align: center; padding: 0 0 0 30px; }
	#search .ingredient { float: left; width: 100px; margin: 2px; border: 1px solid #EEE; border-radius: 4px; background: #FFF; padding: 10px; margin-right: 3px; }
	#search .ingredient label { text-transform: capitalize; }
	
	#search #rowdiness { text-align: center; padding-left: 10px; }
	#search .rowdiness { float: left; width: 70px; border: 1px solid #EEE; border-radius: 4px; background: #FFF; padding: 10px; margin-right: 3px; }
	#search .rowdiness label { text-transform: capitalize; }
	.actions input { background: #669900; color: #FFF; border-radius: 8px; cursor: pointer; border: 1px solid #336600; font-size: 14px; text-shadow: 1px 1px 1px #336600; padding: 6px; }
	
#logo { text-align: center; }	
	
div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
