<div id="ingredients">
  <% @ingredients.each do |ing| %>
    <div class="ingredient" id="ingdiv-<%= ing.name %>">
      <LABEL><%= check_box_tag "ingredients[]", value = ing.id %><BR>
      <%= label_tag(ing.name) %></LABEL>
    </div>
  <% end %>
</div>
