<div id="ingredients">
  <% @ingredients.each do |ing| %>
    <div class="ingredient" id="ingdiv-<%= ing.name %>">
      <%= check_box_tag "ingredients[]", value = ing.id %>
      <%= label_tag(ing.name) %>
    </div>
  <% end %>
</div>
