<div id="ingredients">
  <% @ingredients.each do |ing| %>
    <label class="ingredient" id="ingdiv-<%= ing.name %>">
      <%= check_box_tag "ingredients[]", value = ing.id %><BR>
      <%= label_tag(ing.name) %>
    </label>
  <% end %>
</div>
