<div id="locations">
  <% @locations.each do |location| %>
    <label class="location" id="<%= location.name %>">
      <%= radio_button_tag :location_id, location.id %><BR>
      <%= label_tag :location, "#{location.name}"%>
    </label>
  <% end %>
</div>