<div id="locations">
  <% @locations.each do |location| %>
    <div class="location" id="<%= location.name %>">
      <LABEL><%= radio_button_tag :location_id, location.id %><BR>
      <%= label_tag :location, "#{location.name}"%></LABEL>
    </div>
  <% end %>
</div>