<div id="locations">
  <% @locations.each do |location| %>
    <div class="location" id="<%= location.name %>">
      <%= radio_button_tag :location_id, location.id %>
      <%= label_tag :location, "#{location.name} - #{location.id}"%>
    </div>
  <% end %>
</div>