<h1>GameSearch#list</h1>
<p>Find me in app/views/game_search/list.html.erb</p>
<ul>
  <% @games.each do |game| %>
  <div class="<%= "complex#{game.complexity} #{game.source_id == 1 ? "domestic" : "import"}"  %>">
    <%= game.name %> - <%= game.id %>
  </div>
  <% end %>
</ul>